$clr-red: var(--red);
$clr-blue: var(--blue);
$clr-semiblue: var(--semiblue);
$clr-lightblue: var(--lightblue);
$clr-white: var(--white);
$clr-black: var(--black);
$clr-err: var(--err);
$clr-success: var(--success);