p,
body,
h1,
h2,
h3,
form,
input,
textarea,
select,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

table {
    border: 0;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

:focus {
    outline: none;
}

h3 {
    font-weight: normal;
}

/* formulare */

textarea,
input {
    &:focus {
        outline: none;
    }
}

input {
    -webkit-appearance: none;
    appearance: none;

    &.number {

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        // Firefox
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

textarea {
    resize: none;
}

input[type="number"] {
    // Pro WebKit prohlížeče (Chrome, Safari, Edge)
    -webkit-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    // Pro Firefox
    &[type="number"] {
        -moz-appearance: textfield;
    }
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: default;
}

address,
time,
abbr,
cite,
dfn,
mark,
code,
s,
ins,
del {
    all: unset;
    display: inline;
}

article,
section,
nav,
aside,
figure,
main,
header,
footer,
summary,
details,
blockquote {
    all: unset;
    display: block;
    width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}

abbr {
    text-decoration: underline dotted;
    cursor: help;
}

sup {
 vertical-align: text-top;
 font-size: 0.5em;
 line-height: 1.25em;
}

sub {
 vertical-align: text-bottom;
 font-size: 0.75em;
 line-height: 1.25em;
}
